<strong>Olá, {{deliveryman}}</strong>
<p>Infelizmente,a seguinte encomenda acabou de ser cancelada:</p>
<p>
  <strong>Id: </strong>{{id}}<br  />

  <strong>Produto: </strong>{{product}}<br  />

  <strong>Destinatário:</strong>{{recipient}}<br />
  <br />
</p>
