<strong>Olá, {{deliveryman}}</strong>
<p>Uma encomenda acabou de ser registrada. Segue os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong>{{product}}<br  />

  <strong>Destinatário:</strong>{{recipient}}<br />
  <br />
</p>
